# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Logs
*.log

# IDE settings
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Data (if you want to ignore large CSVs or generated data)
# data/*.csv